<div class="place">
  
  <h2><%= @place.title %></h2>
  <p>
  	<%= link_to "edit", "/places/:id/edit"%>
  </p>

  <p>
    Admission Price: <%= @place.admission_price %>
  </p>

  <%= image_tag @place.photo_url %>

  <h3>Description: </h3>

  <p><%= @place.description %></p>
</div>
